{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <div class="home-info-content">
    <header class="entry-header">
      <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
      {{ $opts := dict "display" "block" }}
      {{ .Content | $.Page.RenderString $opts }}
    </div>
    <footer class="entry-footer">
      {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
  </div>
  <div class="home-info-map-wrapper" aria-hidden="true">
    <img src="/images/history-map.svg" class="home-info-map" alt="Antique cartographic map of Africa" loading="eager"/>
  </div>
</article>
{{- end -}}
