{{- define "main" }}

{{- if site.Params.homeInfoParams }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $posts := where site.RegularPages "Section" "posts" }}
{{- if $posts }}
<section class="home-posts">
  <ul class="posts-list">
    {{- range $posts }}
    <li class="posts-list-item">
      <a href="{{ .Permalink }}" class="posts-list-title">{{ .Title }}</a>
      <span class="posts-list-date">{{ .Date.Format "Jan 2006" }}</span>
    </li>
    {{- end }}
  </ul>
</section>
{{- else }}
<p class="posts-coming-soon">First post coming soon...</p>
{{- end }}

{{- end }}{{- /* end main */ -}}
